.hero {
  height: 100vh;
  background: url("../img/telu-building.png") center/cover no-repeat;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(10, 35, 48, 0.185),
    rgba(10, 35, 48, 0.85)
  );
}

.hero-content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.hero h1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 3rem;
  color: white;
}

.hero p {
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-neutral);
  max-width: 720px;
}
