.navbar-teralis {
  background: transparent;
  padding: 24px 0;
}

.navbar-brand {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  color: white;
}

.nav-icon {
  width: 18px;
  height: 18px;
  display: block;
}

.nav-link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: var(--secondary-neutral);
}

.nav-link.active,
.nav-link:hover {
  color: var(--primary-red);
}

.nav-link span {
  line-height: 1;
}

.btn-login {
  background: linear-gradient(180deg, #AF212C 0%, #B2202B 100%);
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  font-weight: 700;
  text-decoration: none;
}
