.navbar-teralis {
  background: transparent;
  padding: 24px 0;
}

.navbar-brand {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  color: white;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: var(--secondary-neutral);
  margin: 0 12px;
}

.nav-link.active,
.nav-link:hover {
  color: var(--primary-red);
}

.btn-login {
  background: linear-gradient(180deg, #AF212C 0%, #B2202B 100%);
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  font-weight: 700;
  text-decoration: none;
}
